# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Except the depedencies
!lib/*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/.vs/socksifier/v15
/src/.vs/socksifier/v15
/src/Debug
/src/x64/Debug
*.user
/x64/Debug
/Debug
/.vs/socksifier/v16
/bin/x64
/src/x64/Release
